<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Property Search</strong>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Property Type</label>
                            <div class="col-md-9" id="chklistPropertyType">
                                <label class="checkbox-inline" for="inline-checkbox1">
                                    <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="3"> Industrial   
                                </label>
                                <label class="checkbox-inline" for="inline-checkbox2">
                                    <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="2"> Retail   
                                </label>
                                <label class="checkbox-inline" for="inline-checkbox3">
                                    <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="7"> Land  
                                </label>
                                <label class="checkbox-inline" for="inline-checkbox3">
                                    <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="5"> Office   
                                </label>
                                <label class="checkbox-inline" for="inline-checkbox3">
                                    <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="4"> MUH    
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Listing Type</label>
                            <div class="col-md-9">
                                <label class="radio-inline" for="inline-radio1">
                                    <input type="radio" id="inline-radio1" name="inline-radios" value="lease">  Lease  
                                </label>
                                <label class="radio-inline" for="inline-radio2">
                                    <input type="radio" id="inline-radio2" name="inline-radios" value="sale">  Sale  
                                </label>
                                <label class="radio-inline" for="inline-radio3">
                                    <input type="radio" id="inline-radio3" name="inline-radios" value="lease_sale">  Lease & Sale  
                                </label>
                                <label class="radio-inline" for="inline-radio3">
                                    <input type="radio" id="inline-radio3" name="inline-radios" value="all">  All Properties  
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Available Space</label>
                            <div class="col-md-3">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            -
                            <div class="col-md-3">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Lease Rate</label>
                            <div class="col-md-3">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            -
                            <div class="col-md-3">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Building Size</label>
                            <div class="col-md-3">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            -
                            <div class="col-md-3">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="card-footer">
                    <a href="#/property/list" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Search</a>
                     
                </div>
            </div>
            
        </div><!--/.col-->
    </div>
    </div>