<!-- <form class="sidebar-form"></form> -->
<li class="nav-title">Quick Links</li>
<a routerlinkactive="active" class="nav-link active" ng-reflect-ng-class="nav-link" ng-reflect-router-link="/dashboard" ng-reflect-router-link-active="active" href="#/dashboard">
    <i class="icon-speedometer"></i> Dashboard
</a>
<a routerlinkactive="active" class="nav-link active" ng-reflect-ng-class="nav-link" ng-reflect-router-link="/Property/Search" ng-reflect-router-link-active="active" href="#/property/search">
    <i class="icon-speedometer"></i> Search Properties
</a>
<a routerlinkactive="active" class="nav-link active" ng-reflect-ng-class="nav-link" ng-reflect-router-link="/Property/Map" ng-reflect-router-link-active="active" href="#/Property/Search">
    <i class="icon-speedometer"></i> Map Sesrch
</a>
<a routerlinkactive="active" class="nav-link active" ng-reflect-ng-class="nav-link" ng-reflect-router-link="/brodacastmail" ng-reflect-router-link-active="active" href="/dashboard">
    <i class="icon-speedometer"></i> Broadcast Email
</a>
<a routerlinkactive="active" class="nav-link active" ng-reflect-ng-class="nav-link" ng-reflect-router-link="/savedsearches" ng-reflect-router-link-active="active" href="/dashboard">
    <i class="icon-speedometer"></i> My Saved Searches
</a>